{% extends 'base.html' %}

{% block heading %}
Log in
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-0 custom-shadow px-5 py-4">
            <div class="card-body">
                {% if mistakes.show %}
                <h5 class="card-title text-danger">{{ mistakes.show }}</h5>
                {% endif %}
                <form action="http://localhost/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg custom-button">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}